
*{
  box-sizing: border-box;
  background-origin: border-box;
  margin: 0;
}

:root{

  --col-01:#171219;
  --col-02:#f2fbeb;
  --col-03:#5252ff;
  --col-04:#b6e878;
  font-size: 16px;
 
  scroll-behavior: smooth;
}

body{
  padding: 1rem;
  background-color: var(--col-02);
  color: var(--col-01);
}

nav {
  margin-top: 1rem;
}

nav li{
  font-size: 1rem;
}


a:hover {
  color: red;
}

a:active {
  color: rgb(55, 0, 255);
} 


section{
  margin-bottom: 2rem;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1rem;
  margin-top: 1rem;
}

figcaption{
  width: fit-content;
}

dl ul{
  margin-bottom: 0;
}

li{
  font-size: 1rem;
}


dd{
  padding-left: 60px;
}

li ul{
  padding-left: 40px;
}

.img-wrapper{
  width: 100%;
  margin-bottom: 1.5rem;
}

.img-figure{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-img{
  width: 80%;
}

.res-columns{
  column-width: 25rem;
}

#mode-button{
  float: right;
  position: sticky;
  top: 1rem;
}

#mode-button:hover{
  color: red;
}

#mode-button:active {
  color: rgb(55, 0, 255);
} 

/* code for loading page */

#load-body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* changing button to look like a link */
#load-link{
  line-height: 1rem;
  background-color: transparent;
  border: 0;
}

#load-link:hover{
  font-size: 20px;
  color: #ff0000;
  animation-name: wiggle;
  animation-name: wiggle;
  animation-duration: 1000ms;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
0% {transform: rotate(10deg);}
25% {transform: rotate(-5deg);}
50% {transform: rotate(5deg);}
75% {transform: rotate(0deg);}
100% {transform: rotate(10deg);}
}

#load-link:active{
  color:blue;
}

/* throbber while page is fake loading */
#load-throbber{
  display: none;
}

/* Media Queries */

/* medium devices 600 - 992 */
@media only screen and (min-width: 600px) {
  :root{
    font-size: 20px;
  }
  
  .img-wrapper{
    width: 75%;
    margin: 1.5rem auto;
  }

}

/* medium devices 992 + */
@media only screen and (min-width: 992px) {
  :root{
    font-size: 24px;
  }

  .img-wrapper{
    max-width: fit-content;
    float: right;
    margin: 1.5rem;
  }

}

@media (prefers-reduced-motion) {
  :root{
    scroll-behavior: auto;
  }
}



.loader {
  border: 12px solid #f3f3f3; 
  border-top: 12px solid #87cd16; 
  border-radius: 100%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}