h1 {
  max-width: fit-content;
  font-size: 3rem;
  margin: 25px auto;
  margin-bottom: 50px;
  font-family: 'Impact';
}

ul, ol {
    padding-top: 15px;
    font-size: 1.25rem;
  }

  h2 {
    max-width: fit-content;
    font-size: 2rem;
    margin: 25px auto;
    margin-bottom: 50px;
    font-family: 'Impact';
  }